@{
	ViewData["Title"] = "Applications";
}
<section class="applications ">
    <div class="container py-5">
        <h1 class="fs-3 mb-4 text-center">Applications</h1>
        <div class="w-75 m-auto">
            <table class="table table-hover table-striped" id="applications">
                <thead class="table-secondary">
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th>Name</th>
                        <th>College</th>
                        <th>Status</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</section>


@section Scripts {
    <script src="~/js/studentaffairs.js"></script>
}