@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "Forget Password";
}

<div class="container forget-password">
    <div class="image w-100 d-flex justify-content-center align-items-center mb-3">
        <img src="~/images/advisorylogo no stroke .png" alt="">
    </div>
    <div class="m-auto">
        <div class="w-50 m-auto">
            <div class="mb-3">
                <label class="form-label" for="floatingInput">Enter Email to verify</label>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email</label>
                    <p id="message" class="d-none"></p>
                </div>
            </div>
            <button class="d-block btn btn-primary m-auto" id="submit-email" onclick="SendEmail()" type="button">Send</button>
        </div>
        <form class="w-50 m-auto" asp-controller="Auth" asp-action="VerifyCode">
            <div class="mb-3">
                <label class="form-label" for="code-in">Enter Verification Code</label>
                <div class="card p-3 m-auto" style="max-width: 350px;">
                    <div class="code d-flex justify-content-center gap-1 text-center fs-3">
                        <input type="number" maxlength="1" id="code-in" class="form-control code-input" />
                        <input type="number" maxlength="1" class="form-control code-input" />
                        <input type="number" maxlength="1" class="form-control code-input" />
                        <input type="number" maxlength="1" class="form-control code-input" />
                        <input type="number" maxlength="1" class="form-control code-input" />
                        <input type="number" maxlength="1" class="form-control code-input" />
                    </div>
                </div>
            </div>
            <button class="d-block btn btn-primary w-25 m-auto" type="submit">Verify Code</button>
        </form>
        <p class="fs-6 text-dark m-auto p-3 d-block">
            <a asp-controller="Auth" asp-action="Login"
               class="text-decoration-none text-dark">Have an Account already?</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}